{{ template "page" . }}
{{ define "main" }}
    {{ template "error-summary" .Errors }}
    {{ if eq .DeputyDetails.DeputyType.Handle "PA" }}
        {{ template "pa-deputy-details" . }}
    {{ end }}
    {{ if eq .DeputyDetails.DeputyType.Handle "PRO" }}
        {{ template "pro-deputy-details" . }}
    {{ end }}
{{ end }}
