{{ template "page" . }}
{{ define "main" }}
    {{if eq .DeputyDetails.DeputyType.Handle "PA" }}
        {{ template "pa-deputy-details" . }}
    {{end}}
    {{if eq .DeputyDetails.DeputyType.Handle "PRO" }}
        {{ template "pro-deputy-details" . }}
    {{end}}
{{ end }}
