{{ template "page" . }}

{{ define "page-name" }}Deputy details{{ end }}

{{ define "main" }}
    {{ if eq .DeputyDetails.DeputyType.Handle "PA" }}
        {{ template "pa-deputy-details" . }}
    {{ end }}
    {{ if eq .DeputyType "PRO" }}
        {{ template "pro-deputy-details" . }}
    {{ end }}
{{ end }}
