{{ template "page" . }}
{{ define "main" }}
    {{ template "error-summary" .Errors }}
    {{ if eq .DeputyDetails.DeputyType.Handle "PA" }}
        {{ template "manage-pa-important-information" . }}
    {{ end }}
    {{ if eq .DeputyDetails.DeputyType.Handle "PRO" }}
        {{ template "manage-pro-important-information" . }}
    {{ end }}
{{ end }}
