{{ template "page" . }}
{{ define "main" }}
{{ template "content-header" . }}
    {{ if eq .DeputyType "PA" }}
        {{ template "manage-pa-important-information" . }}
    {{ end }}
    {{ if eq .DeputyType "PRO" }}
        {{ template "manage-pro-important-information" . }}
    {{ end }}
{{ end }}
