{{ define "content-header" }}
    {{ if eq .DeputyType "PA" }}
        {{ template "pa-deputy-header" . }}
    {{ end }}
    {{ if eq .DeputyType "PRO" }}
        {{ template "pro-deputy-header" . }}
    {{ end }}
{{ end }}
