{{ define "deputy-hub" }}
    <div class="govuk-grid-row">

    </div>
     <div class="govuk-grid-row govuk-!-margin-top-5  govuk-!-margin-bottom-0">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-0">
            {{ template "navigation" . }}
        </div>
     </div>
{{ end }}