{{ define "header" }}
    <sirius-header
        {{ if eq .Error "" }}
        user-roles="{{ .UserDetails.GetRoles }}"
        finance-flag="{{ .EnvironmentVars.FinanceAdminLink }}"
        {{ end }}>
    </sirius-header>
{{ end }}
