@use "node_modules/@ministryofjustice/frontend/moj/all" as *;
@use "node_modules/govuk-frontend/dist/govuk" as *;


$moj-assets-path: "/supervision/deputies/static/assets/";

.moj-manage-list {
  .moj-filter__tag::after {
    background-image: url("#{$moj-assets-path}images/icon-tag-remove-cross.svg");
  }

  .govuk-table {
    .govuk-table__row.selected {
      background: govuk-functional-colour("body-background");
      .govuk-table__cell {
        &:first-child {
          border-left: govuk-spacing(1) solid govuk-functional-colour("brand") !important;
        }
      }
    }
    .govuk-table__row {
      .govuk-table__header,
      .govuk-table__cell {
        &:first-child {
          border-left: govuk-spacing(1) solid transparent;
          padding-left: govuk-spacing(3);
        }
        &:last-child {
          padding-right: govuk-spacing(3);
        }

        .secondary {
          color: govuk-functional-colour("text");
          font-size: 16px;
          font-size: 1rem;
          line-height: 1.25;
          display: block;
        }

        &--no-data {
          width: 100%;
          font-size: 150%;
          text-align: center;
        }

        .govuk-checkboxes {
          margin-top: -8px;
        }
      }

      .govuk-table__select {
        max-width: 15px;
        width: 15px;
      }
    }
  }

  &__edit-panel {
    background-color: govuk-colour("light-grey");

    header {
      background-color: govuk-colour("mid-grey");
      .govuk-width-container {
        padding: govuk-spacing(3);
      }
    }

    .govuk-select {
      min-width: 200px;
    }

    .govuk-button--cancel {
      background: none !important;
      color: govuk-functional-colour("text");
      border-color: transparent;
      box-shadow: 0 2px 0 transparent !important;
      text-decoration: underline;
    }
  }

  .govuk-button--blue {
    background: govuk-functional-colour("brand");

    &:hover {
      background: govuk-functional-colour("link-hover");
    }
  }
}
