// Sirius specific styles

.sirius-prohub {
  .govuk-width-container,
  .moj-header__container,
  .moj-primary-navigation__container {
    max-width: none;
    padding: 0 15px;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }

  .govuk-button-group .govuk-link {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1;
    padding: 8px 10px 7px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 0;
  }

  main {
    header {
      display: flex;
      justify-content: space-between;
      padding: 0.5em 0 0.5em;
      border-bottom: 1px solid $govuk-border-colour;
      margin-bottom: 2em;
    }

    .moj-sub-navigation {
      margin-bottom: 0;
    }

    #overview {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 1em;
      border-bottom: 1px solid rgb(177, 180, 182);
    }
  }

  .moj-header__container {
    max-width: 98%;
  }

  .moj-timeline__item {
    max-width: 60em;
  }

  .govuk-form-group {
    max-width: 40em;
  }

  .data-item-container {
      padding-right: 3em;
  }

  span.rag {
    font-weight: bold;
    &.green {
      color: govuk-colour("green");
    }
    &.amber {
      color: govuk-colour("orange");
    }
    &.red {
      color: govuk-colour("red");
    }
  }

  span.secondary {
    color: $govuk-secondary-text-colour;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }

  table {
    .govuk-table__cell--checkboxes {
      width: 1%;
      white-space: nowrap;
      label {
        padding: 0;
      }
    }

    td.govuk-table__cell {
      &.nowrap {
        white-space: nowrap;
      }
      &.capitalise {
        text-transform: capitalize;
      }

      span {
        display: block;

        &.moj-badge,
        &.name {
          display: inline-block;
          margin-right: 10px;
        }

        &.job_title,
        &.name {
          white-space: nowrap;
        }

        &.name {
          font-weight: 600;
        }

        &.secondary {
          color: $govuk-secondary-text-colour;
          font-size: 16px;
          font-size: 1rem;
          line-height: 1.25;
        }
        &.sentence-case::first-letter {
          text-transform: capitalize;
        }
      }
    }
    td.overdue span {
      border-left: 5px solid govuk-colour("red");
      padding-left: 5px;
      font-weight: bold;
    }

    a.govuk-button {
      margin-bottom: 0;
      margin-right: 10px;
    }

    span.rem_warning {
      background: url("/public/images/flag.svg") no-repeat 3px 3px;
      padding-left: 20px;
      font-weight: bold;
      color: govuk-colour("red");
      font-size: 16px;
      font-size: 1rem;
    }

    &.moj-badge,
    &.name {
      display: inline-block;
      margin-right: 10px;
    }

    span.rag {
      font-weight: bold;
      &.green {
        color: govuk-colour("green") !important;
      }
      &.amber {
        color: govuk-colour("orange") !important;
      }
      &.red {
        color: govuk-colour("red") !important;
      }
    }
  }
}
