$govuk-include-default-font-face: false;
$govuk-moj-table-background-color: #e7f2fb;
$moj-assets-path: "/supervision/deputies/public-authority/assets/";
$govuk-assets-path: "/supervision/deputies/public-authority/assets/";

@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";
@import "accessible-autocomplete";
@import "./scss/pa-hub";

.moj-header__container {
  max-width: 98%;
}

.moj-timeline__item {
  max-width: 60em;
}